{% extends "base.html" %}

{% block title %}Add Card{% endblock %}

{% block content %}
    <h1>Flash Card</h1>
    Question: {{card.question}} <br>
    Answer:   {{card.answer}}
    <p>
        <button>
            <a href="{{ url_for('welcome') }}">Go to Home page</a>
        </button>
        
        <button>
        {% if index < max_index %}
            <a href="{{ url_for('card_view', index=index + 1) }}">Next card</a>
        {% else %}
            <a href="{{ url_for('card_view', index=0) }}">Start over</a>
        {% endif %}
        </button>

        <button>
            <a href="{{ url_for('remove_card', index=index) }}">Delete this card</a>
        </button>
    </p>
{% endblock %}