{% extends "base.html" %}

{% block title %}Add Card{% endblock %}

{% block content %}
    <h1>Flash Card</h1>
    Question: {{curr_card.question}} <br>
    Answer:   {{curr_card.answer}}
    <p>
        <button>
            <a href="{{ url_for('welcome') }}">Go to Home page</a>
        </button>
        
        <button>
        {% if next_index != 0 %}
            <a href="{{ url_for('card_view', id=next_id) }}">Next card</a>
        {% else %}
            <a href="{{ url_for('card_view', id=next_id) }}">Start over</a>
        {% endif %}
        </button>

        <button>
            <a href="{{ url_for('remove_card', id=curr_card.id) }}">Delete this card</a>
        </button>
    </p>
{% endblock %}