{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Simple Flask app</h1>
    <p>
        Simple flash cards app using
        <em>Flask and Jinja</em>.
    </p>
    <!--<img src="/static/flasklogo.png">-->
    <h2>Flash Cards</h2>
    <ul>
        {% for id, question, answer in cards %}
            <li>
                <a href="{{ url_for('card_view', id=id) }}">
                    {{ question }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('add_card') }}">Add a new card</a>
    <hr>
    <form method="post">
        <button type="submit">Reset cards</button>
    </form>
{% endblock %}