{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <img id="logo" src="/static/nihongo.png">
    <h1>Nihongo flash cards</h1>
    <p>
        A simple web app to refresh with
        <em>Flask, Jinja (supposedly ReactJS), Swagger & Postgres (supposedly MongoDB)</em>
    </p>
    <h2>Flash Cards</h2>
    <ul>
        {% for id, question, answer in cards %}
            <li>
                <a href="{{ url_for('card_view', id=id) }}">
                    {{ question }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <h3>Actions:</h3>
    <button><a href="{{ url_for('add_card') }}">Add a new card</a></button>
    <hr>
    <h3>To seed initial flash cards:</h3>
    <form method="post">
        <button type="submit">Reset cards</button>
    </form>
    <hr>
    <h3>Developer:</h3>
    <button><a href="{{ url_for('api.doc') }}">Go to API</a></button>
{% endblock %}